body {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

#featured-property{
  
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  color: #707070;
  line-height: 1.6;
  font-size: 14px;
}

figcaption {
  font-size: 13px;
  text-align: center;
  padding-top: 20px;
  color: #999999;
}


#details {
  display: block;
  background-color: #363636;
}





