body {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

img {
  text-align: center;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

figcaption {
  font-size: 12px;
  text-align: center;
}






